# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/

# Asset store / packages
[Aa]ssets/AssetStoreTools*

# IDE
.vs/
.vscode/
.idea/
*.csproj
*.sln
*.user

# OS
.DS_Store
Thumbs.db

# Unity crash reports
sysinfo.txt
*.stackdump
crashlytics-build.properties
